*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 16px 0;
    color: azure;
}

header,
section h2{
    font-family: "Slabo 27px", serif;
    font-weight: normal;
}

body{
    font-family: "Crimson Text", serif;
    font-weight: normal;
}

header nav li{
    display: inline;
    margin-left: 18px;
    font-size: 18px;
    color:#293895;
    font-weight: bold;
}
header nav li a:hover{
    color: #ff1925;
    text-decoration: underline;
}

header nav li a{
    color:#293895;
    text-decoration: none;
}

header .container h1 img{
    width: 344px;
    height: 93px;
    box-sizing: border-box;
}

.container, footer{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.list-social img{
    height: 24px;
}

.list-social li{
    display: inline;
    margin-right: 8px;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;
    color:#293895;
}

section h2{
    margin-bottom: 16px;
}

section p{
    margin-bottom: 8px;
}

.imagem-noticia{
    height: 350px;
    margin-right: 32px;
}

#contact .container{
    display: block;
}

.contact-methods{
    display: flex;
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    border-color: #c5c5c5;    
    border: solid;
    border-width:1pt;
    border-color: #c5c5c5;
    border-radius: 6px;
}


input:focus, textarea:focus{
    outline: none;
    box-shadow: 0px 10px 40px -12px #c5c5c5;
    }
}

form textarea{
    resize: none;
    height: 180px;
}

form button{
    background-color: #293895;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #293895;
}
form button:hover{
    background-color: #ff1925;
}

footer .container li{
    display: inline;
    justify-content: space-between;
    align-items:flex-end;
    margin-right: 20%;
}

